*{
    list-style: none;
}

body {
    background-color: var(--noir-body);
    color:var(--white);
    max-width: 100%;
    margin-top:0%;
    margin: 0%;
    
}

:any-link {
    cursor: pointer;
    color:var(--white);
    text-decoration: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: 'Roboto', bold;
    font-size: var(--heading-1);

}

h2 {
    text-align: center;
    font-family: 'Montserrat', medium;
    font-size: var(--heading-2);
    
}

h3 {
    text-align: center;
    font-family: 'Mada', sans-serif;
    font-size: var(--subheading);
    font-weight: normal;
    
}

.menu__text {
    text-align: center;
    font-family: 'Hind', bold;
    font-size: var(--menu);
    font-weight: normal;
}


.index {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.intro__bienvenue {
    color: var(--jaune);
    font-family:'Roboto', bold ;
}

.intro__information {
    color: var(--blanc);
}

.card {
    color: var(--jaune);
}
.card__title {
    text-align: center;
    color: var(--jaune);
}
.card__description {
    text-align: center;
    color: var(--jaune);
}

.frise {
    color: var(--jaune);
    font-family: 'Roboto', bold ;
}
