*{
    list-style: none;
}

body {
    background-color: var(--noir-body);
    color:var(--white);
    max-width: 100%;
    margin-top:0%;
    margin: 0%;
    
}

.body__white {
    background-color: var(--blanc);
    color:var(--noir-body);
    max-width: 100%;
    margin-top:0%;
    margin: 0%;
    
}

:any-link {
    cursor: pointer;
    color:var(--white);
    text-decoration: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: 'Roboto', bold;
    font-size: var(--heading-1);

}

h2 {
    text-align: center;
    font-family: 'Montserrat', medium;
    font-size: var(--heading-2);
    
}

h3 {
    text-align: center;
    font-family: 'Mada', sans-serif;
    font-size: var(--subheading);
    font-weight: normal;
    
}

.menu__text {
    text-align: center;
    font-family: 'Hind', bold;
    font-size: var(--menu);
    font-weight: normal;
}


.index {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.billetterie {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.time {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.lesaut {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.futuristic{
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.cash {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.cardoso {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.bourliouk {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.boccioni {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.page__contact {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.tubestation {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.concerto {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.power {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.laville {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.larue {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.page__savoirplus {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
}
.intro__text {
    color: var(--jaune);
    font-family:'Roboto', bold ;
}
.intro__text2 {
    color: var(--noir-body);
    font-family:'Roboto', bold ;
}

.intro__information {
    color: var(--blanc);
    text-align: left;
}

.intro__information2 {
    color: var(--noir-body);
    text-align: left;
}

.intro__index {
    color: var(--blanc);
}

.card {
    color: var(--jaune);
}
.card__title {
    text-align: center;
    color: var(--jaune);
}
.card__description {
    text-align: center;
    color: var(--jaune);
}

.frise {
    color: var(--jaune);
    font-family: 'Roboto', bold ;
}


.icone__infos {
    display: flex;
    width: 80px;
    margin: auto;
}

.form__title {
    text-align: center;
    margin-bottom: -30px;
    font-family: 'Roboto',bold;
    font-size: var(--heading-1);
    color: var(--noir-body);
}

.form_button{
    margin: 2px;
    margin-bottom: 25px;
    margin-top: 35px;
    padding: 0px;
    margin-left: 20px;
}

.form__input{
    margin: 10px;
    margin-bottom: 5px;
    margin-top: 38px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form_box{
    padding: 5px;
    width: 80%;
    margin-top: 4px;
}

.article__img {
    display: flex;
    width: 150px;
    margin: auto;
}

.article__photo {
    display: flex;
    margin: auto;
}