:root {
    --texte1: 'Roboto' ;
    --texte2: 'Montserrat';
    --texte3: 'Mada';
    --menu: 'Hind';
/* Color styles */
--jaune: rgba(255, 214, 0, 1);
--bleu: rgba(11, 59, 115, 1);
--noir-body: rgba(29, 39, 38, 1);
--blanc: rgba(250, 250, 250, 1);
--bleu-2: rgba(83, 99, 147, 1);
--gris-1: rgba(55, 68, 67, 1);
--gris-2: rgba(88, 101, 100, 1);

/* Text-size styles */
--logo: 30px;
--heading-1: 28px;
--heading-2: 22px;
--subheading: 14px;
--menu: 22px;
}