footer {
    background-color: var(--bleu);
    color: var(--blanc);
    padding: 8px;
    text-align: center;
    margin-top: 30px;
}

.footer__text {
    justify-content: center;
    color: var(--blanc);
    list-style-type: none;
    position: relative;
    right: 15px;
}

.footer_info {
    position: relative;
    text-align: center;
    color: var(--blanc);
}

.footze__mail {
    color: var(--blanc);
    text-align: center;
}