footer {
    background-color: var(--bleu);
    color: var(--blanc);
    padding: 8px;
    text-align: center;
    margin-top: 30px;
}

.footer__text {
    justify-content: center;
    font-family: 'Mada';
    font-size: var(--menu);
    color: var(--blanc);
    list-style-type: none;
    position: relative;
    right: 15px;
}

.footer_info {
    position: relative;
    text-align: center;
    font-family: 'Mada';
    color: var(--blanc);
}

.footer__social {
    display: flex;
    justify-content: space-between;
    margin-inline: 80px;
    padding: 30px;


}

.footer__social--icon {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;


}


.footer__mail {
    font-family: 'Mada';
    font-size: var(--menu);
}


.footer__logo {

}