footer {
    background-color: var(--bleu);
    color: var(--blanc);
    padding: 8px;
    text-align: center;
    margin-top: 30px;
}

.footer__text {
    justify-content: center;
    font-family: 'Mada';
    font-size: var(--menu);
    color: var(--blanc);
    list-style-type: none;
    position: relative;
    right: 15px;
}

.footer_info {
    position: relative;
    text-align: center;
    font-family: 'Mada';
    color: var(--blanc);
}

.footer__social {
    justify-content: center;
    display: flex;
    padding: 15px;
    gap: 5px;

}

.footer__social--icon {
    height: 45px;
    width: 45px;
    margin-inline: 10px;
    display: flex;

}


.footer__mail {
    font-family: 'Mada';
    font-size: var(--menu);
}