header {
    background-color:var(--jaune);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

}

.header__btnmenu {
    left: 315px;
    top: -3px;
    background-color:var(--white);
    border-style: none; 
}

.header__logo {
    position: relative;
    left: 18px;
    top: 5px;

}
.header__flag {
    position: relative;
    right: 150px;
    top: 1px;
    background-color:var(--white);
    border-style: none;
    margin-top: 3px;
}