header {
    background-color:var(--jaune);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 5px;

}

.header__menuBtn {
    left: 10px;
    top: 0px;
    background-color:var(--jaune);
    border-style: none; 
}

.header__logo {
    position: relative;
    left: 35px;
    top: 5px;

}
.header__flag {
    position: relative;
    left: 258px;
    top: 2px;
    background-color:var(--jaune);
    border-style: none;
    margin-top: 3px;
}