* {
    box-sizing: border-box;/* change le box model */
    }
    img {
      height: auto;
    }
.carrousel_parent-tableaux {
      display: flex;
      width: 100%;
      overflow-x: scroll;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
     

    }
.carrousel_tableaux {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-inline: 5%;
    background-color: var(--gris-1);
    border-radius: 5%;
    border: 2px solid var(--gris-2);
    flex: none;
    scroll-snap-align:center;
    
      /* largeur du parent pour chaque enfant */
      /* permet de garder toute la largeur du parent */
    }
.carrousel_tableaux figure {
      /* enlève les marges par défaut */
      margin: 0;
    }

.carrousel {
    position: relative;
    display: flex;
    flex-direction: column;

    }
      
.carrousel_button {
   position: absolute;
   top: 50%; /* centre verticalement */
   transform: translateY(-50%); /* methode du point mort */
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   border: none;
   display: grid;
   place-content: center;
}
      
.tableaux__button{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 50px;
}

.carrousel_button-back {
   margin-top: 2%;
   position: relative;
   border: none;
   background: none;
   cursor: pointer;
   width: 70px;
   height: auto;
}
      
.carrousel_button-next {
   margin-top: 2%;
   position: relative;
   border: none;
   background: none;
   cursor: pointer;
   width: 70px;
   height: auto;
}

.card__title__tableaux{
   text-align: center;
   color: var(--jaune);
   font-family: 'Mada';
   font-weight: lighter;
   margin-inline: 5%;
   padding-top: 3%;
   transform: translateY(-35%);

   
}

.card__tableaux{
   margin-inline: 0%;
   width: 100%;
   height: 100%;
   border-radius: 10px;
   border: 2px solid var(--jaune);
   margin-bottom: 0;
}